name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
    
    - name: Install tooling via Arkade
      uses: alexellis/arkade-get@9718b1694fa1db91045e0b5ba199732cb18b4387
      with:
        kubectl: v1.33.1
        tilt: v0.35.0
        k3d: v5.8.3
        task: v3.44.0

    - name: Install Playwright browsers and dependencies
      run: |
        cd virtual-dm
        npm install
        npx playwright install --with-deps

    - name: Run Tests
      run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" task test

    - name: Build Check
      run: task build

    - name: Tilt Check
      run: task tilt-ci

  trigger-deploy:
    name: Deploy
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
      id-token: write
      pull-requests: write
      issues: write
      packages: write
    needs: [test]
    uses: ./.github/workflows/release.yml