name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci-cd:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
    
    - name: Install tooling via Arkade
      uses: alexellis/arkade-get@9718b1694fa1db91045e0b5ba199732cb18b4387
      with:
        #kubectl: v1.33.1
        #tilt: v0.35.0
        #k3d: v5.8.3
        task: v3.44.0

    - name: Run Tests
      run: task test

    - name: Build
      run: task build

    - name: Run Docker Container
      run: task docker-run-ci

    # - name: Check if app is accessible
    #   run: |
    #     for i in {1..5}; do
    #       echo "Attempt $i/5: Checking if app is accessible..."
    #       if curl -f http://localhost:3000 > /dev/null 2>&1; then
    #         echo "App is accessible!"
    #         exit 0
    #       fi
    #       if [ $i -lt 5 ]; then
    #         echo "App not ready, waiting 5 seconds..."
    #         sleep 5
    #       fi
    #     done
    #     echo "App failed to become accessible after 5 attempts"
    #     exit 1
    
    - name: Deploy
      run: echo "deploy"
